<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="logo">
  <img src="./Angular-Weather-App/src/assets/Logo.png" width="15%" alt="logo name" style="position: fixed; top: 1px; left: 11px;">
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="..jnathnjshua/Angular-Weather-App/src/assets/hot.jpg" *ngIf="weatherData.current.temp_f > 59">
    <img src="..jnathnjshua/Angular-Weather-App/src/assets/cold.jpg" *ngIf="weatherData.current.temp_f <= 59">
    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}</div>
      <div class="temperature">{{ weatherData.current.temp_f | number: '1.0-0'}}°F</div>
    </div>
  </div>
  
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="..jnathnjshua/Angular-Weather-App/src/assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.forecast.forecastday[0].day.mintemp_f | number: '1.0-0'}}°F
        </div>
      </div>
      
      <div class="info-block">
        <div class="info-block-label">
          <img src="..jnathnjshua/Angular-Weather-App/src/assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.forecast.forecastday[0].day.maxtemp_f | number: '1.0-0'}}°F
        </div>
      </div>
      
      <div class="info-block">
        <div class="info-block-label">
          <img src="..jnathnjshua/Angular-Weather-App/src/assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="..jnathnjshua/Angular-Weather-App/src/assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.wind_mph }} mph
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/hot.png" *ngIf="14 > 15">
    <img src="../assets/cold.jpg"> *ngIf="14 <= 15">
    <div class="weather-data">
      <div class="location">Nanuet</div>
      <div class="temperature">{{ 14.40 | number: '1.0-0'}}°F</div>
    </div>
  </div>
  
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°F
        </div>
      </div>
      
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          20°F
        </div>
      </div>
      
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          20 mph
        </div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
